<footer class="container spacer-double-md">
    <div class="row text-center">
        <div class="col">
            <button type="button"
                    class="btn font-weight-400 font-size-16 btn-secondary btn-radius-bottom-left text-left mb-2 mb-sm-0 mr-1">
                  <span class="media align-items-center mn-top">
                  <span class="fab fa-apple font-size-24 mr-3"></span>
                  <span class="media-body">
                  <span class="d-block">Get it on</span>
                  <strong class="font-size-15 mn-top">Apple Store</strong>
                  </span>
                  </span>
            </button>
            <button type="button"
                    class="btn font-weight-400 font-size-16 btn-primary btn-radius-bottom-right text-left mb-2 mb-sm-0 ml-1">
                  <span class="media align-items-center mn-top">
                  <span class="fab fa-google-play font-size-24 mr-3"></span>
                  <span class="media-body">
                  <span class="d-block">Get it on</span>
                  <strong class="font-size-15 mn-top">Google Play</strong>
                  </span>
                  </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr class="my-6">
        </div>
    </div>
    <div class="row align-items-md-center">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="d-flex align-items-center">
                <p class="font-size-14  mb-0"><span class="text-muted">© 2020 all rights reserved - MutationMedia.
                        <br>A product of</span> mutationthemes.
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
            <ul class="list-inline list-group-flush  text-md-center mb-0 mn-top">
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action" href="#">Help</a>
                </li>
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action" href="#">Terms</a>
                </li>
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action" href="#">Privacy</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-4">
            <ul class="list-inline text-sm-right mb-0 font-size-14 mn-top">
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action " href="#">
                        <span class="fab fa-facebook-f "></span>
                    </a>
                </li>
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action " href="#">
                        <span class="fab fa-google "></span>
                    </a>
                </li>
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action " href="#">
                        <span class="fab fa-twitter "></span>
                    </a>
                </li>
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action " href="#">
                        <span class="fab fa-github"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-5 align-items-center ">
        <div class="col text-lg-center">
            <p class="font-size-12 text-muted mb-0">Font generated by <a class="text-dark"
                                                                         href="https://www.flaticon.com">flaticon.com</a><br>
                Under <a class="text-dark" href="http://creativecommons.org/licenses/by/3.0/">CC: </a><a
                        class="text-dark" data-file="001-toast"
                        href="http://www.flaticon.com/authors/eucalyp">eucalyp</a>
            </p>
        </div>
    </div>
</footer>