{% load i18n %}
{% url 'kvkk' as kvkk_url %}

<footer class="container spacer-double-md">
    <div class="row text-center">
        <div class="col">
            <a role="button" href="{{ global_preferences.page__whatsapp_link }}" target="_blank"
                    class="btn font-weight-400 font-size-16 btn-secondary btn-radius-bottom-left text-left mb-2 mb-sm-0 mr-1">
                  <span class="media align-items-center mn-top">
                  <span class="fab fa-whatsapp font-size-24 mr-3"></span>
                  <span class="media-body">
                  <span class="d-block">{% trans "WhatsApp" %}</span>
                  <strong class="font-size-15 mn-top">{% trans "İçin Tıklayın" %}</strong>
                  </span>
                  </span>
            </a>
            <a role="button" href="tel:{{ global_preferences.page__phone_number|cut:' ' }}"
                    class="btn font-weight-400 font-size-16 btn-primary btn-radius-bottom-right text-left mb-2 mb-sm-0 ml-1">
                  <span class="media align-items-center mn-top">
                  <span class="fa fa-phone font-size-24 mr-3"></span>
                  <span class="media-body">
                  <span class="d-block">{% trans "Detaylar için" %}</span>
                  <strong class="font-size-15 mn-top">{% trans "Bizi Arayın" %}</strong>
                  </span>
                  </span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr class="my-6">
        </div>
    </div>
    <div class="row align-items-md-center">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="d-flex align-items-center">
                <p class="font-size-14 mb-0"><a class="text-muted" href="https://theblackcapmedia.com/" target="_blank">Site by Black Cap Media</a>
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
            <ul class="list-inline list-group-flush  text-md-center mb-0 mn-top">
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action" href="/">{% trans "Huseyinakyol.com.tr" %}</a>
                </li>
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action" href="{{ kvkk_url }}">{% trans "KVKK" %}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-4">
            <ul class="list-inline text-sm-right mb-0 font-size-14 mn-top">
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action " href="{{ global_preferences.page__facebook_link }}">
                        <span class="fab fa-facebook-f "></span>
                    </a>
                </li>
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action " href="{{ global_preferences.page__instagram_link }}">
                        <span class="fab fa-instagram "></span>
                    </a>
                </li>
                <li class="list-inline-item px-2">
                    <a class="list-group-item-action " href="{{ global_preferences.page__youtube_link }}">
                        <span class="fab fa-youtube "></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>