.pr-10 {
	padding-right: 6em;
}
.swiper.img-mobile {
    width: 100vw;
    height: auto;
    margin-left: calc(50% - 50vw);
}
.edge-shape.edge-shape-bottom {
	margin-bottom: -1px;
}
.svg-green{
    fill: #17a8b9;
}
.min-h-500 {
	min-height: 500px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	font-size: 1.025rem;
}
.header-navbar .navbar-brand.navbar-logo {
  padding-top: 0;
  padding-bottom: 0;
  height: 3.45rem;
  width: auto;
  margin-top: -1.1rem;
}
.header-navbar .navbar-brand.navbar-logo .logo {
	height: 100%;
}
.w-full: {
	width:  100%;
}

.sticky-button {
	width: 3rem;
	height: 3rem;
	position: fixed;
	right: 2.875rem;
	bottom: 7.1rem;
	z-index: 100;
	padding-top: .15rem;
	text-align: center;
	opacity: 0.9;
	border-radius: 100%;
	font-size: 1.65rem;
}

.sticky-button:hover {
	opacity: 1;
}

.whatsapp-fixed {
	background-color: #25D366!important;
	border-color: #25D366;
	color: #ffffff;
}

.whatsapp-fixed .fa-whatsapp {
	color: #fff!important;
}

.facebook-fixed{
	background-color: #4267B2!important;
	border-color: #4267B2;
	color: #ffffff;
	bottom: 10.5rem;
}
.instagram-fixed{
	background-color: #bc2a8d!important;
	border-color: #bc2a8d;
	color: #ffffff;
	bottom: 14rem;
}

.twitter-fixed{
	background-color: #1DA1F2!important;
	border-color: #1DA1F2;
	color: #ffffff;
	bottom: 17.5rem;
}

.swiper-button-prev, .swiper-button-next {
	color: #17a8b9!important;
}

.journeyslider .swiper-slide img {
	object-fit: cover;
	height: 15rem;
}

@media (min-width: 768px) {
	.h-hmd {
		display: none;
	}
}
@media (max-width: 767px) {
	.h-lmd {
		display: none;
	}
}
