{% load static i18n %}
{% load homepage %}

<section id="about" class="about spacer-double-lg">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-5 col-md-9 order-2">
                <h3 class="h1">{{ about.title }}</h3>
                <p class="lead">{{ about.intro }}</p>
            </div>
            <div class="col-lg-5 col-md-9 order-1 mb-5 mb-lg-0">
                <div class="swiper homeswiper img-fluid rounded shadow-lg z-index-2 position-relative">
                    <div class="swiper-wrapper">
                        {% for slide in about.slides.all %}
                            <div class="swiper-slide">
                                <img class="img-fluid rounded shadow-lg z-index-2 position-relative"
                                     src="{{ slide.image.url }}"/>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-around spacer-one-top-lg mb-6 pb-6">
            <div class="col-lg-5 col-md-9 order-2 order-md-1">
                <h3 class="h1">{{ about.description_title }}</h3>
                <p class="lead">{{ about.description }}</p>
                {% with aboutlist_chunked=about.aboutlist_set.all|chunk:2 %}
                    <div class="row">
                        {% for group in aboutlist_chunked %}
                            <div class="col-md-6">
                                {% for list in group %}
                                    <div class="media align-items-center  mb-1">
                                        <img class="mr-2 icon-check" src="{% static 'assets/svg/icon-checked.svg' %}"
                                             alt="">
                                        <div class="media-body h6">
                                            {{ list.info }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endwith %}
                <a class="scroll btn btn-primary btn-radius-bottom-left mt-5 mb-lg-0 mb-5" href="#">
                    <span class="mn-top">{% trans "Detaylı bilgi için bize ulaşın" %}</span>
                </a>
            </div>
            <div class="col-lg-5 col-md-9 order-1 order-md-2">
                <div class="swiper homeswiper img-fluid rounded shadow-lg z-index-2 position-relative">
                    <div class="swiper-wrapper">
                        {% for slide in about.slides_bottom.all %}
                            <div class="swiper-slide">
                                <img class="img-fluid rounded shadow-lg z-index-2 position-relative"
                                     src="{{ slide.image.url }}"/>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="mb-5 d-md-none"></div>
            </div>
        </div>
    </div>
</section>