<!DOCTYPE html>
{% load static %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <!-- Metas -->
    <meta charset="utf-8">

    {% block meta %}
        {% include "components/base/meta.html" %}
    {% endblock %}

    {% block seo_tags %}
        {% if request.GET.page %}
            <meta name="robots" content="noindex,follow"/>
        {% endif %}
    {% endblock %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/phonePlugin.css' %}">
    <link rel="stylesheet" href="{% static 'css/phone_input.css' %}">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" media="all"/>

    <link href="https://unpkg.com/swiper@8/swiper-bundle.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    {% include "components/base/header.html" %}

    {% block content %}{% endblock %}

    {% include "components/base/footer.html" %}
    <a class="scroll-to-top scroll" href="#wrapper"><span class=" fas fa-arrow-up top-icon "></span></a>

    <a href="{{ global_preferences.page__whatsapp_link }}" class="sticky-button whatsapp-fixed scroll">
        <span class="fab fa-whatsapp top-icon "></span>
    </a>
    <a href="{{ global_preferences.page__facebook_link }}" class="sticky-button facebook-fixed scroll">
        <span class="fab fa-facebook-f top-icon "></span>
    </a>
    <a href="{{ global_preferences.page__instagram_link }}" class="sticky-button instagram-fixed scroll">
        <span class="fab fa-instagram top-icon "></span>
    </a>
</div>
<!--Javascript-->
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/smooth-scroll.js' %}"></script>
<script src="{% static 'js/placeholders.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jarallax.min.js' %}"></script>
<script src="{% static 'js/jarallax-element.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!-- Google analytics -->
<!-- End google analytics -->

{% include "components/phone-script.html" %}
{% include "components/partials/img-modal.html" %}

</body>
</html>

