{% extends "base.html" %}
{% load homepage %}
{% load static %}
{% load i18n %}

{% block meta %}
    {% get_home_obj as obj %}
    {% include "components/base/meta.html" %}
{% endblock %}

{% block content %}
    {% get_home_obj as home %}
    {% get_about_obj as about %}
    {% get_surgery_obj as surgery %}
    {% get_change_journey_obj as change_journey %}
    {% get_treatment_plan_obj as treatment_plan %}
    {% get_customer_review_obj as customer_reviews %}
    {% get_faq_obj as faq %}

    {% include "sections/hero.html" %}

    <section class="bg-primary-2 spacer-double-sm mt-n">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h1 class="text-white text-center">
                        {% blocktrans trimmed %}
                            JCI Akreditasyonlu A-plus hastanemiz ve deneyimli ekibimizle size yardımcı olmaya hazırız.
                        {% endblocktrans %}
                    </h1>
                </div>
            </div>
        </div>
    </section>


    {% include "sections/about.html" %}

    {% include "sections/change-your-life.html" %}

    {% include "sections/change-journey.html" %}

    {% include "sections/treatment-plans.html" %}

    {% include "sections/faq.html" %}

    {% include "sections/user-comments.html" %}

    {% include "sections/curved-shape.html" %}

    {% include "sections/contact.html" %}


{% endblock %}